		 <!---start-footer---->
		  <div class="footer">
		    <div class="wrap"> 
			   <div class="footer-grid">
				<h3>Promociones </h3>
				       <div class="address">
					     <ul>
<li>15% de descuento por pago con tarjeta Comfama en Santafé,</li>
<li>25% en frutas y verduras con tu tarjeta Exito.</li>
						  	   <li>2X1 en mimo´s con tu tarjeta VISA</li>
						  	   <li></li>
					     </ul>
			        </div>
			   </div>
			<div class="footer-grid twitts">
				<h3>ULTIMOS Tweets</h3>
				<p>
				  <label>@Internauta:</label>
Ha sido realmente útil ubicar lo que deseaba comprar utilizando esta aplicación. </p>
				<span>Hace 10 minutos...</span>
		        <p>
		          <label>@fercho1689: De mucha ayuda SafeBuy.</label>
		        </p>
				<span>Hace 15 minutos...</span>
			</div>
			<div class="footer-grid center-grid">
			  <h3>tips</h3>
				<ul>
					<li><a href="#">- Compra en sitios reconocidos, certificados y seguros.</a></li>
					<li><a href="#">- Utiliza los beneficios obtenidos para comprar.</a></li>
					<li></li>
				</ul>
			</div>		
			<div class="footer-grid">
				<h3>SABIAS QUE...</h3>
				<p>SafeBuy te ofrece información disponible para que aproveches las ofertas y oportunidades comerciales que te ayudarán a ahorrar dinero en tus compras.</p>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="copy-right">
		<p>Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
	</div>
		 <!---End-footer---->