<!----start-header----->
	 <div class="header">
	     <div class="wrap">
			<div class="top-header">
				<div class="logo">
					<a href="index.html"><img src="Images/logo.png" title="logo" /></a>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="#"><img src="Images/facebook.png" title="facebook" /></a></li>
						<li><a href="#"><img src="Images/twitter.png" title="twitter" /></a></li>
						<li><a href="#"><img src="Images/google.png" title="google pluse" /></a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!---start-top-nav---->
			<div class="top-nav">
				<div class="top-nav-left">
					<ul>
						<li><a href="registrarComprador.html">Home</a></li>
						<li><a href="registrarComprador.html">PROMOCIONes</a></li>
						<li><a href="registrarComprador.html">BUSQUEDA</a></li>
						<li><a href="registrarComprador.html">sERVICIOS</a></li>
						<li class="active"><a href="registrarComprador.html">rEGISTRO</a></li>
						<div class="clear"> </div>
					</ul>
             </div>
				<div class="top-nav-right">
					<div class="telephone">
                    <a href="Tel:3002345679" rel="external">
					<span><i class="phone_img"><img src="Images/phone.png" alt="" /></i></span><span class="number">(300) 234-5678</span></a>
					</div>
			     </div>
				<div class="clear"> </div>
			</div>
			<!---End-top-nav---->
		</div>
	</div>
   <!----End-header----->